<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">

    <title>Invoice Line</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    
    <!-- bootstrap link -->
	<link rel="stylesheet" 
	      href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
	
	<!-- jquery link -->      
	<script src="https://code.jquery.com/jquery-3.5.1.js"></script>      
	
</head>
     <body>
         <div class="container">
            <div class="jumbotron">
                <h1>WEB SITE</h1>
                <br>
                <h3>Invoice Line</h3>
                <br><br>
                <form th:object="${invoice}" th:action="@{/invoice/saveInvoice}" method="post">
                     <input type="hidden" th:field="*{id}" />
                     <input id="totalInvoice" type="text" class="form-control col-md-2 mb-2" th:field="*{totalPrice}" placeholder="Total Price"/>
                     <br><br>
                     <button type="submit" class="btn btn-success">Total Invoice</button>       
                </form>
            </div>
         </div>
         <div class="container"> 
             <a href="/invoiceLine/invoiceItem">Add Item</a>
             <br><br>
             <table class="table table-striped" th:with="number=${number}">
                  <thead class="thead-light">
                      <tr class="header">
                         <th>ID</th>
                         <th>Item</th>
                         <th>Unit Price</th>
                         <th>Quantity</th>
                         <th>Net Price</th>
                      </tr>
                  </thead> 
                  <tbody>
                      <tr th:each="invoice, stats : ${invoiceLineList.?[invoiceNumber == __${number}__]}">
                         <td th:text="${stats.count}"></td>
                         <td th:text="${invoice.description}"></td>
                         <td th:text="${invoice.unitPrice}"></td>
                         <td th:text="${invoice.quantity}"></td>
                         <td th:text="${invoice.netPrice}"></td>
                         <td th:text="${invoice.invoiceNumber}"></td>
                      </tr>
                 </tbody>    
              </table>
         </div> 
         <div class="container">
         </div>
         
     <script type="text/javascript">

             // index css styles
             $(".jumbotron").css("background","aqua");
             $("h1").css("text-align","center");
             $("h1").css("color","blue");
             $("h3").css("text-align","center");
             $("h3").css("color","blue");

          // get net price of any item
             $("#netPrice").click(function(){

            	 var uprice = $("#unitPrice").val();
                 var quantity = $("#quantity").val();
                 var nprice = parseInt(uprice)*parseInt(quantity);
                 var netPrice = $("#netPrice").val(nprice.toString());
             });

          // function to invoice the total shop
             $("#totalInvoice").click(function() {
                var sum = 0;

               $("table tr").each(function() {
                 var mess = parseInt($("td",this).eq(4).text());

                 if (!isNaN(mess)){
                     sum += mess;
                 }
               });
               alert("The total price is: $" + sum);

               if (confirm = true){
            	   $("#totalInvoice").val(sum)
                   
               }
                  
             });

     </script>
     </body>
</html>