<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">

    <title>Invoice Line</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    
    <!-- bootstrap link -->
	<link rel="stylesheet" 
	      href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
	
	<!-- jquery link -->      
	<script src="https://code.jquery.com/jquery-3.5.1.js"></script>      
	
</head>
     <body>
         <div class="container">
            <div class="jumbotron">
                <h1>WEB SITE</h1>
                <br>
                <h3>Invoice Line</h3>
                <br>
                <a href="/invoiceLine">Invoice Line List</a>
            </div>
         </div>
         <div class="container">
             <form>
                  <label>Item ID:</label>
                  <p th:text="${invoiceLine.id}"></p>
                  
                  <label>Item:</label>
                  <p th:text="${invoiceLine.description}"></p>
                  
                  <label>Unit Price:</label>
                  <p th:text="${invoiceLine.unitPrice}"></p>
                  
                  <label>Quantity:</label>
                  <p th:text="${invoiceLine.quantity}"></p>
                  
                  <label>Net Price:</label>
                  <p th:text="${invoiceLine.netPrice}"></p>       
             </form>
         </div> 
     <script type="text/javascript">

             // index css style
             $(".jumbotron").css("background","aqua");
             $("h1").css("text-align","center");
             $("h1").css("color","blue");
             $("h3").css("text-align","center");
             $("h3").css("color","blue");
             $("form").css("text-align","center");
             $("form").css("color","blue");
             
     </script>
     </body>
</html>